.success {
  background-color: green;
  color: white;
  padding: 0.5em;
  width: 60%;
  font-size: 1.2em;
}

.error {
  background-color: red;
  color: white;
  padding: 0.5em;
  width: 60%;
  font-size: 1.2em;
}

.blog {
  width: auto !important; /*just to override your inline CSS */
  padding: 0.5em;
  margin: 0.5em;
  border: 1px solid black;
}

button {
  cursor: pointer;
}

.deleteButton {
  background-color: red;
  color: white;
  padding: 0.2em;
}

th,
td {
  padding-right: 1em;
}
