.success {
	background-color: green;
	color: white;
	padding: 0.5em;
	width: 60%;
	font-size: 1.2em;
}

.error {
	background-color: red;
	color: white;
	padding: 0.5em;
	width: 60%;
	font-size: 1.2em;
}

.blog {
	padding: 0.5em;
	margin: 0.5em;
	border: 1px solid black;
}

button {
	cursor: pointer;
}

.deleteButton {
	background-color: red;
	color: white;
	padding: 0.2em;
}
